body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/bg-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#app {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c4e62cc;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

#app h2{
  text-align: center;
}

#city-input {
  padding: 10px;
  width: 70%;
  border-radius: 6px 0 0 6px;
  border: none;
}

#search-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#search-button:hover {
  background-color: #0056b3;
}

#weather-info {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
    
}

#weather-info img {
  width: 100px;
    height: 100px;
    margin: 20px 0;
}

#weather-info h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.8rem;
}

#weather-info p {
  margin: 10px 0;
  font-size: 0.95rem;
  font-size: 1.2rem;
}

